*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.932);
    overflow: hidden;

}
section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    padding: 80px 50px;
    background-color: rgba(255, 255, 255, 0.111);
    backdrop-filter: blur(3px);
    position: absolute;
    width:400px;
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    
}
.bola{
    height: 150px;
    width: 150px;
    background-color: rgb(0, 119, 255);
    border-radius: 50%;
    margin-top: -350px;
    margin-left: -400px;
    position: absolute;
}
h1{
    text-align: center;
}
.bol1a{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 350px;
    margin-left: 400px;
    position: absolute;
    background-color: orangered;
}
input{
    outline: none;
    color: white;
    background-color: rgba(101, 101, 101, 0.274);
    height: 40px;
    border: transparent;
    padding: 0px 8px;
    margin: 5px 0px;
    border-radius: 5px;
}

input::placeholder{
    color: white;
}
button{
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.555);
}
button:active{
    transform: translateY(4px);
}
section div{
    width: 100%;
    display: flex;
    gap: 30px;

    
}
section div button{
    width: 100%;
    display: flex;
    background-color: rgba(255,255,255,0.2);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    
}
div button:hover{
    background-color: rgba(255,255,255,0.5); ;
}
p{
    color: rgb(246, 55, 55);
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
    padding: 1px 5px ;
    font-size: 11pt;
}
.spinner{
    height: 60px;
    width: 60px;
    display: none;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 10px;
    border: dotted orangered 7px;
    border-bottom: 13px solid transparent;
    transition: transform .5s ease;
    animation: girar infinite .5s linear ;
}

@keyframes girar {
    from{
        transform: translate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}